@import url(./root.css);
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.question {
  background: linear-gradient(90deg, #815cc8 0%, #1babfe 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.accordion-heading {
   font-family: "Poppins", sans-serif;
  font-size: 48px;

  line-height: 72px;
  color: white;
}
.accordion-button {
  box-shadow: none !important;
}
.accordion-item {
  border: none !important;
}

.font-600-18 {
  font-size: 18px;
  font-weight: 600;
   font-family: "Poppins", sans-serif;
   padding-bottom: 0;
}
.font-400-18 {
  font-size: 18px;
  font-weight: 400;
   font-family: "Poppins", sans-serif;
}

.bg-blur {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.03) 100%
  ) !important;
}
/* .bg-img-sec-2 {
  background-image: url(/assets/images/png/);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.box-1 {
  width: 922px;
  height: 100%;
}

.boxs {
  background: var(--lightyellow) !important;
}
.amet {
   font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: var(--black);
}
.enim-text {
   font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  color: var(--black);
  opacity: 70%;
}
.first-accordian {
  background-image: url(/assets/images/png/first-accordian-bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.second-accordian {
  background-color: yellow;
}
.faq {
  color: white;
  font-family: "Audiowide", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 81.59px;
}
.third-accordian {
  background-color: var(--black);
}
.border-accordian {
  color: white !important;
  background: transparent !important;
  max-width: 1078px;
  border: 1px solid #1eadb6;
  border: 1px;
}
.third-accordian {
  background-image: url(/assets/images/png/third-section-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.min-height-93 {
  min-height: 93px;
}
.border-accordian {
  border: 1px solid #1eadb6 !important;
  border-top-left-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
}

.down-arrow::after {
  background-image: url(/assets/images/svg/down-arroow.svg) !important;
}
.border-left{
top: -1px;
left: -1px;  
}
.border-right{
bottom:  -1px;
right: -2px;  
}
.green-arrow::after{
  background-image: url(/assets/images/svg/new-green-arrow.svg) !important;
}
.text-black{
  color: black !important;
}
.section-two-accordion:not(.collapsed)::after{
  background-image:url(/assets/images/svg/minus-svgrepo-com.svg) !important ;
}
.section-two-accordion::after{
  background-image: url(/assets/images/svg/plus-large-svgrepo-com.svg) !important;
}
.font-18{
  font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
opacity: 70%;
color: #ffffff;
}
.font-16-400{
   font-family: "Montserrat", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
padding-top: 0;

}