*{
  background: black;
}
.question  { background: linear-gradient(90deg, #815cc8 0%, #1babfe 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;}
  .accordion-heading{
    font-family: Poppins;
font-size: 48px;

line-height: 72px;
color: white;

  }
  .accordion-button{
    box-shadow: none !important;
}
.accordion-item{
    border: none !important;
}

.font-600-18{
    font-size: 18px;
    font-weight: 600;
}
.font-400-18{
    font-size: 18px;
    font-weight: 400;
}

.bg-blur{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%) !important;

}
.bg-img-sec-2{
    background-image:url(/assets/image/sec-2-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}